body {
    overflow: hidden;
}
.random-button {
    background-color: darkred;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.center-button {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
input[type="button"] {
    font-size: 24px;
}

.poster {
    float: left;
    width: 35%;

}

.info {

    margin-left: 15px;
    float: right;
    width: 60%;
}

.movie-container {
    padding-left: 25%;
    padding-right: 25%;
}

.genre-button {
    padding: 15px 15px;
}
  
.genre-select {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}