{% extends "layout.html" %}
<!DOCTYPE html>
    <html>
            {% block content %}
            <a href="/">Go Home</a>
            <h1>What is this? </h1>
            <p>This a weekend project that will return a random movie to watch. The list of all movies are taken from IMDB and the OMDB api is used to obtain more data about the movies</p>
            <h1>Contact</h1>
            <p>If you have any questions you can email me at daniellsheng@gmail.com. Please start the subject line with [WMSIW]</p>
            {% endblock %}
    </html>