{% extends "layout.html" %}
<!DOCTYPE html>
    <html>
    <body>
        {% block content %}
        
        <div class = "center-button">
            <a href="/random" class = "random-button"><input type="button" class = "random-button" value="Get a Random Movie"></a>
        </div>
        <div class = "genre-select">
            <center>Or get a random movie by genre</center>
            <a href="/random?genre=Action" class = "genre-button">Action</a>
            <a href="/random?genre=Adult" class = "genre-button">Action</a>
            <a href="/random?genre=Adventure" class = "genre-button">Adventure</a>
            <a href="/random?genre=Animation" class = "genre-button">Animation</a>
            <a href="/random?genre=Biography " class = "genre-button">Biography </a>
            <a href="/random?genre=Comedy" class = "genre-button">Comedy</a>
            <a href="/random?genre=Crime" class = "genre-button">Crime</a>
            <a href="/random?genre=Documentary" class = "genre-button">Documentary</a>
            <a href="/random?genre=Drama" class = "genre-button">Drama</a>
            <a href="/random?genre=Family" class = "genre-button">Family</a>
            <a href="/random?genre=Fantasy" class = "genre-button">Fantasy</a>
            <a href="/random?genre=Film Noir" class = "genre-button">Film Noir</a>
            <a href="/random?genre=History" class = "genre-button">History</a>
            <a href="/random?genre=Horror" class = "genre-button">Horror</a>
            <a href="/random?genre=Music" class = "genre-button">Music</a>
            <a href="/random?genre=Musical" class = "genre-button">Musical</a>
            <a href="/random?genre=Mystery" class = "genre-button">Mystery</a>
            <a href="/random?genre=Romance" class = "genre-button">Romance</a>
            <a href="/random?genre=Sci-Fi" class = "genre-button">Sci-Fi</a>
            <a href="/random?genre=Short-Film" class = "genre-button">Short-Film</a>
            <a href="/random?genre=Sport" class = "genre-button">Sport</a>
            <a href="/random?genre=Superhero" class = "genre-button">Superhero</a>
            <a href="/random?genre=Thriller" class = "genre-button">Thriller</a>
            <a href="/random?genre=War" class = "genre-button">War</a>
            <a href="/random?genre=Western" class = "genre-button">Western</a>
            <br> <br> <br> <br>
            <center><a href="/about">About</a></center>
        </div>

        {% endblock %}
        </body>
    </html>
