<!DOCTYPE html>
{% extends "layout.html" %}
<!DOCTYPE html>
    <html>
        {% block content %}
        <body>
            <div style="text-align: center; font-size: 80px;margin-bottom: 20px">
                You Should Watch
                 <br />
            </div>
            <div style="text-align: center; font-size: 60px;"> 
                {{title}}
                <br>
            </div>
            <br /><br /><br />
            <div class = "movie-container">
                <div class="poster">
                    {% if poster == "N/A" %}
                        
                        <img src="/static/spongebob.jpg" width="100%">
                    {% else %}
                        <img src="{{poster}}" width="100%">
                    {% endif %}
                </div>
                <div class="info">
                    <p class="meta-data"> Genre: {{genre}}</p>
                    <p class="meta-data"> IMDB Rating: {{rating}}/10</p>
                    <p class="meta-data"> Director: {{director}}</p>
                    <p class="meta-data"> Actors:  {{actors}}</p>
                    <p class="meta-data"> Year: {{year}}</p>
                    <p class="meta-data"> Rated: {{rated}}</p>
                    <p class="meta-data"> Languages: {{lang}}</p>
                    <p class="meta-data"> <a href="{{url}}" target="_blank">IMDB</a></p>

                    
                    
                </div>
            </div>
            
            

        </body>
        {% endblock %}
    </html>