<!DOCTYPE html>
{% extends "layout.html" %}
<!DOCTYPE html>
    <html>
        {% block content %}
        <body>
            <div style="text-align: center; font-size: 80px;margin-bottom: 20px">
                You Should Watch
                 <br />
            </div>
            <div style="text-align: center; font-size: 60px;"> 
                {{title}}
                <br>
            </div>
            <br /><br /><br />
            <div class="poster">
                {% if poster == "N/A" %}
                    No poster available for this movie <br />
                    <img src="/static/spongebob.jpg">
                {% else %}
                    <img src="{{poster}}">
                {% endif %}
            </div>
            <div class="info">
                <div class="infoTable">
                    <table border = "1">
                        <tr>
                            <th>Title</th>
                            <td>{{title}}</td>
                        </tr>
                        <tr>
                            <th>Director</th>
                            <td>{{director}}</td>
                        </tr>
                        <tr>
                            <th>Rating</th>
                                <td>{{rating}}</td>
                        </tr>
                        <tr>
                            <th>Genre</th>
                            <td>{{genre}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            

        </body>
        {% endblock %}
    </html>